*.o
*.dSYM
*.csv
*.out
*.jpg
*.pyc
old/
.vscode/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
libdarknet.a
libdarknet.so
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
train_custom_net/darknet53.conv.74
!prediction_github.jpg