*.o
*.dSYM
*.csv
*.out
*.jpg
*.pyc
old/
.vscode/
mnist/
caffe/
grasp/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
libdarknet.a
libdarknet.so
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
train_custom_net/darknet53.conv.74
train_custom_net/yolov3-tiny.conv.15
trained_nets/yolov3/yolov3.weights
trained_nets/yolov3_tiny/yolov3-tiny.weights
!prediction_github.jpg
/backup
/backup_ocr
/data/data_ocr